
body{
    border-radius: 2px;
    color: #c5c8c6;
    display: flex;
    flex-direction: column;
    min-height: 15ch;
    min-width: 40vw;
    padding: 2em;
    font: 22px/1 "Courier";
    
}

html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F3E46;
}
    

.item {
    width: 10em;
}

p {
    margin: 0;
  }

  p span {
   
    color: #D0CD94;
  }
  a {
    color: inherit;
    display: block;
    width: 150px;
    text-decoration: none;
  }

  a:hover {
    font-weight: bolder;
    
  }
  .image img{
    width: 200px;
  }

  .gifgirl img{

    /* change this to get gifs */
    display: none;
    
    vertical-align: bottom;
    width: 130px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav {
    column-gap: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    
  }


  .dropdownbox{
    perspective: 1000px;
    padding: 30px 0;
    text-align: center;
    width: 150px;
    background-color: #354F52;
    box-shadow: 5px 5px 6px #1b1e2087;
    
  } 
  

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
  top: 100%;
  
  position:absolute;
  display: none;
  width: 150px;
  
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  color: #101618;
  line-height: 60px;
  
  background-color: #52796F;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

} 


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #52796F;
}

.dropdownbox:hover{
  background-color: #52796F;
}

/* Show the dropdown menu on hover */
.dropdownbox:hover .dropdown-content {
  display: block;
  background-color: #354F52;
}
.dropdownbox:hover .dropdown_menu li{
  display: block;
  opacity: 1;
}

@keyframes growDown {
  0% {
      transform: scaleY(0);
  }
  80% {
      transform: scaleY(1.1);
  }
  100% {
      transform: scaleY(1);
  }
}

 
/* 
  colors:
darkblu #1F2633
charcoal #2F394C
yellow text #D0CD94
# 4B4449
*/