
body {

  color:#c5c8c6;
  display:grid;
  grid-auto-flow: column;
  column-gap: 25px;
  min-height:15ch;
  font:22px/1 Courier;

  }
  
  html {
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#2F3E46;
  }
  
  .item {
  width:10em;
  }
  
  p {
  margin:0;
  }
  
  p span {
  color:#D0CD94;
  }
  
  a {
  color:inherit;
  display:block;
  width:150px;
  text-decoration:none;
  }
  
  a:hover {
  font-weight:bolder;
  }
  
  .image img {
  width:350px;
  }
  
  
  ul {
  list-style-type:none;

  padding:0;
  }

  nav {
  column-gap:2em;
  display:flex;
  justify-content:space-between;
  
  padding:1em 0;
  }
  
  .dropdownbox {
  perspective:1000px;
  padding:30px 0;
  text-align:center;
  width:150px;
  background-color:#354F52;
  box-shadow:5px 5px 6px #1b1e2087;
  animation:growDown 300ms ease-in-out forwards;
  }
 
  .dropdown-content {
  top:100%;
  position:absolute;
 
  width:150px;
  animation:growDown 300ms ease-in-out forwards;
  transform-origin:center;
  color:#101618;
  line-height:60px;
  background-color:#52796F;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.2);
  }
 
  .dropdown-content li {
    display:none;
    opacity:0;
    }

  .dropdownbox:hover .dropdownbox{
    transform: scale(3);
  }
  .dropdown-content a:hover {
  background-color:#52796F;
  }
  
  
  .dropdownbox:hover .dropdown-content li {
  display:block;
  opacity:1;
  }
  
  @keyframes growDown {
  0% {
  transform:scaleY(0);

  }
  
  80% {
  transform:scaleY(1.1);

  }
  
  100% {
  transform:scaleY(1);

  }
  }

  form input[type="search"] {
    border: none;
    box-sizing: border-box;
    width: 350px;
    font-weight: bold;
    text-align: center;
    font: inherit;
    background-color: #354F52;
    padding: .5em 1em;
    outline: none;
    color: #D0CD94;
  }
  
  form input::placeholder {
    color: #52796F;
    opacity: 1;
  }
  